/*******
 Colors
*******/

// Scoring Colors
$gray: #cccccc;
$dark-gray: #666666;
$green:#157F00;
$yellow-green: #A8C433;
$yellow: #B28C04;
$red: #f18775;

// Interface Colors
$dark-blue: #2C3E50;
$blue: #3A546D;
$lightest-gray: #efefef;
