#locateuser {
  background: $lightest-gray;

  .form-group {

  }

  .form-control {
    text-align: center;
    input {
      width: 80%;
    }
    button {
      width: 20%;
    }
  }

  button#gps {
    text-align: center;
  }

}
