<div id="searchbar" class="col-xs-12 col-sm-5 col-md-4 clearfix">

  <a href="#/" class="visible-xs" class="clearfix">
    <img class="logo" src="img/build/logo.png" height="48px" width="48px" alt="logo">
  </a>

  <button ng-click="toggleSearchField()" class="btn btn-lg btn-transparent">
    <span id="searchButton" class="glyphicon glyphicon-search"></span>
  </button>

  <button ng-click="goToResults()" class="btn btn-lg btn-transparent" ng-if="isCloseButtonVisible">
    <span class="glyphicon glyphicon-remove-circle"></span>
  </button>

  <section class="clearfix tray drop-shadow" ng-show="isVisible">
    <ul>
      <li class="col-xs-12">
        <small>Displaying results</small>
        {{searchQuery}} <span>In</span> {{searchAreaText}}
      </li>
    </ul>
  </section>

</div>

<section id="search" class="col-xs-12">

  <form ng-submit="nameSearch(0)" class="clearfix" novalidate>
    <span id="exitButton" ng-click="toggleSearchField()" class="col-xs-1 glyphicon glyphicon-chevron-left"></span>
    <div class="input-group input-group-lg col-xs-11">
      <input class="form-control" type="search" ng-model="query" placeholder="Search for a restaurant" focus-me="isSearchbarVisible"/>
      <span class="input-group-btn">
        <button class="btn btn-info">
          <span id="searchButton" class="glyphicon glyphicon-search"/>
        </button>
      </span>
    </div>
  </form>

  <section>
    A bunch of other options here.
  </section>

</section>
